.navs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.navs li {
  list-style: none;
}

.navs a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
}
