*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: url(https://res.cloudinary.com/emmii/image/upload/v1654865542/general/calculator_background_wvg0al.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-color: #00182c;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

#display {
  height: 50px;
  background: #858693;
  color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  margin-top: 10px;
}

.key {
  background: #fff;
  border: none;
  font-size: 16px;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  width: 350px;
  height: 250px;
}

.orange {
  background: #f5913e;
}

.active {
  font-weight: 600;
  border-bottom: 2px solid #f5913e;
}
